<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.unifiedpush.flutter.connector">



  <uses-permission android:name="android.permission.INTERNET" />

  <application>

      <receiver android:exported="true"  android:enabled="true"  android:name=".Receiver">
          <intent-filter>
              <action android:name="org.unifiedpush.android.connector.MESSAGE"/>
              <action android:name="org.unifiedpush.android.connector.UNREGISTERED"/>
              <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT"/>
              <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED" />
              <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED" />
          </intent-filter>
      </receiver>

      <service android:name=".CallbackService"
          android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>

  </application>


</manifest>

